<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload</title>

    <style media="screen">
      #custom-button {
      padding: 10px;
      color: white;
      background-color: #009578;
      border: 1px solid:#000;
      border-radius: 5px;
      cursor:pointer;
    }

      #custom-button {
        background-color: #00b28f;
      }

        #custom-text{
          margin-left: 10px;
          font-family: sans-serif;
          color: #aaa;
        }


    </style>

  </head>
  <body>
    <h1>File Uploader</h1>
    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="video/*" multiple>
      <input type="submit" value="send">

    </form>
  </body>
</html>
